# dependencies
/node_modules/
/demo/node_modules/
/website/node_modules/

# demo env vars
/demo/.env

# demo build files
/demo/dist/
/demo/.parcel-cache/

# website build files
/website/build/
/website/.docusaurus/
